<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Corsav</title>
    <script src="https://kit.fontawesome.com/bc5a659226.js" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-white">
        <div class="container d-flex align-items-center justify-content-between">
            <div id="Logo">
                <a href="@Url.Action("Index","Home")"><img id="Img-Logo" class="navbar-brand" src="~/Content/IMG-Logo/CORSAV.jpg" /></a>
            </div>  
            
            <button type="button" class="navbar-toggler bg-dark" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon bg-dark"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="Link-box navbar-nav flex-grow-1">

                    <li class="Link"><a href="@Url.Action("AccessoriG", "Products")" class="Link-item">ACCESSORI DA GAMING</a></li>

                    <li class="Link"><a href="@Url.Action("AccessoriS", "Products")" class="Link-item">ACCESSORI PER LO STREAMING</a></li>

                    <li class="Link"><a href="@Url.Action("Componenti", "Products")" class="Link-item">COMPONENTI PER PC</a></li>

                    <li class="Link"><a href="@Url.Action("SpecifyId", "Products", new {id = 5})" class="Link-item">PC GAMING</a></li>

                    <li class="Link"><a href="@Url.Action("SpecifyId", "Products", new {id = 8})" class="Link-item">iCUE</a></li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="Link"><a href="@Url.Action("Index","Orders")" class="Link-item"><i class="fas fa-shopping-cart"></i></a></li>
                    }
                    <li class="Link">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="@Url.Action("LogOut", "Utents")" class="Link-item">Log Out</a>
                        }
                        else
                        {
                            <a href="@Url.Action("LogIn", "Utents")" class="Link-item"><i class="fas fa-user"></i></a>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <div>
            @RenderBody()
            <footer class="footer">
                <p class="Item-Footer">&copy; @DateTime.Now.Year - Corsav Application</p>
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("1"))
                    {
                        <a class="Link-Admin" href="@Url.Action("Index", "Utents")">Hub Personale</a>
                    }
                    else if (User.IsInRole("2"))
                    {
                        <h5>La miglior azienda di pc con oltre 50 Partnership</h5>
                    }

                }
            </footer>
        </div>
</body>
</html>
