@{
    ViewBag.Title = "Home Page";
}
<div id="Carousel" class="container-fluid">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item Img-Item active">
                <img src="~/Content/IMG-Carousel/computer.jpg" class="d-block w-100 h-100 Img" alt="Computer">
            </div>
            <div class="carousel-item Img-Item">
                <img src="~/Content/IMG-Carousel/iCUE.jpg" class="d-block w-100 h-100 Img" alt="iCUE">
            </div>
            <div class="carousel-item Img-Item">
                <img src="~/Content/IMG-Carousel/Auricular.jpg" class="d-block w-100 h-100 Img" alt="Auricolar">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div id="List-Tech">
    <h1 class="container" style="color:white">ESPLORA I PRODOTTI:</h1>
    <div class="container-fluid d-flex justify-content-between flex-wrap">
        <a href="@Url.Action("SpecifyId", "Products" , new {id = 1})" class="Link-Attribute">
            <div class="list-card link-specify" style="width: 18rem;">
                <img src="~/Content/Img-Card/pc.jpg" class="card-img-top eccezioni h-100" alt="Computer">
                <div class="card-body text-center bg-black">
                    <p class="card-text">CASE</p>
                </div>
            </div>
        </a>
        <a href="@Url.Action("SpecifyId", "Products" , new {id = 6})" class="Link-Attribute">
            <div class="list-card link-specify" style="width: 18rem;">
                <img src="~/Content/Img-Card/tastiera.jpg" class="card-img-top h-100" alt="Tastiera">
                <div class="card-body text-center bg-black">
                    <p class="card-text">TASTIERA</p>
                </div>
            </div>
        </a>
        <a href="@Url.Action("SpecifyId", "Products" , new {id = 4})" class="Link-Attribute">
            <div class="list-card link-specify" style="width: 18rem;">
                <img src="~/Content/Img-Card/cuffie con auricolare.jpg" class="card-img-top eccezioni h-100" alt="Cuffie con microfono">
                <div class="card-body text-center bg-black">
                    <p class="card-text">CUFFIE CON MICROFONO</p>
                </div>
            </div>
        </a>
        <a href="@Url.Action("SpecifyId", "Products" , new {id = 3})" class="Link-Attribute">
            <div class="list-card link-specify" style="width: 18rem;">
                <img src="~/Content/Img-Card/notebook gaming.jpg" class="card-img-top h-100" alt="NoteBook">
                <div class="card-body text-center bg-black">
                    <p class="card-text">NOTEBOOK</p>
                </div>
            </div>
        </a>
        <a href="@Url.Action("SpecifyId", "Products" , new {id = 2})" class="Link-Attribute">
            <div class="list-card link-specify" style="width: 18rem;">
                <img src="~/Content/Img-Card/monitor gaming.jpg" class="card-img-top h-100" alt="Monitor">
                <div class="card-body text-center bg-black">
                    <p class="card-text">MONITOR</p>
                </div>
            </div>
        </a>
        <a href="@Url.Action("SpecifyId", "Products" , new {id = 5})" class="Link-Attribute">
            <div class="list-card link-specify" style="width: 18rem;">
                <img src="~/Content/Img-Card/pc da gaming.jpg" class="card-img-top h-100" alt="PC da Gaming">
                <div class="card-body text-center bg-black">
                    <p class="card-text">PC DA GAMING</p>
                </div>
            </div>
        </a>
        <a href="@Url.Action("SpecifyId", "Products" , new {id = 7})" class="Link-Attribute">
            <div class="list-card link-specify" style="width: 18rem;">
                <img src="~/Content/Img-Card/webcam.jpg" class="card-img-top h-100" alt="WebCam">
                <div class="card-body text-center bg-black">
                    <p class="card-text">WEBCAM</p>
                </div>
            </div>
        </a>
    </div>
</div>