@model TechEcommerce.Order

@{
    ViewBag.Title = "Delete";
}

<h3>Eliminare questo prodotto dalla lista?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Products.NameProducts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products.NameProducts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Elimina" class="btn btn-default" /> |
            @Html.ActionLink("Torna al carello", "Index")
        </div>
    }
</div>
